.header {
    border-bottom: 2px solid #E5E5E5;
    padding: 1rem 20rem;
    background-color: white;
    margin-bottom: 2rem;
    box-shadow: 0px 1.47737px 17.7284px 4.43211px rgba(208, 214, 227, 0.3);
    margin: auto;
    /* border: 1px solid red;; */
}

.nav-logo {
    display: flex;
}

.nav-logo-text {
    font-size: 2.1rem;
    font-weight: 500;
    color: #000000;
    /* border: 2px solid black; */
}

.nav-logo-image {
    margin: auto;
    margin-right: 1rem;
    height: 25px;
    width: 22px;
    /* border: 2px solid black; */
}

.nav-image {
    /* border: 1px solid black; */
    margin: auto;
    margin-right: 2rem;
    height: 20px;
    width: 20px;
}

@media only screen and (max-width: 768px) {
    .header {
        padding: 1rem;
    }
}

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');


li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* .header {
    border-bottom: 2px solid #E5E5E5;
} */

/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 20rem; */
/* border: 2px solid black; */
/* } */


/* .nav-menu {
    display: flex;
    justify-content:space-between;
    align-items:center;
    border: 2px solid black; 
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover {
    color: #482ff7;
} */
/* 
.nav-logo{
display: flex;
}

.nav-logo-text {
    font-size: 2.1rem;
    font-weight: 500;
    color: #000000;
    /* border: 2px solid black; */
/* }  */
/* .nav-logo-image {
    margin: auto ;
    margin-right: 1rem;
    height: 25px;
    width: 22px; */
/* border: 2px solid black; */
/* } */

/* .sidebuttons{
    display: flex;
    cursor: pointer; */
/* border: 2px solid black; */
/* } */

/* .sidebuttons:hover{
    background-color: #c51f1f;
} */
/* .nav-image { */
/* border: 1px solid black; */
/* margin: auto ;
    margin-right: 2rem;
    height: 20px;
    width: 20px; */
/* padding-right: 2rem; */
/* border-radius: .25rem; */
/* } */
/* .nav-image:hover{
     color: #EFF2F5;
}
.hamburger {
    display:flex;
    flex-direction:column;
    padding: .4rem .25rem; */
/* border: 2px solid black; */
/* border-radius: 1rem; */
/* }
.hamburger:hover{
    background-color: #EFF2F5;
}
.bar {
    display: flex;
    width: 3rem;
    height: .4rem;
    margin: .2rem .5rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
    border-radius: 0.5rem;
} */