@import url(//fonts.googleapis.com/css?family=Open+Sans:600,400&subset=latin,cyrillic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 50.5%;
  font-family: 'Inter';
  font-style: normal;
}

.table-bookmark {
  text-align: center;
}

.App {
  display: block;
  margin: auto;
  background-color: white;
  font-size: calc(10px + 1.25vmin);
  font-family: 'Inter';
  font-style: normal;
  /* border: 3px solid red; */
}

.App-header {
  background-color: #F8FAFC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.legends {
  margin: 0 1rem 0.5rem 1rem;
  background-color: #EFF2F5 !important;
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  border-radius: 1rem;
}

.show-rows {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  color: #808A9D;
  margin: auto;
}

.dropdown {
  font-size: 1.5rem !important;
  background-color: #EFF2F5 !important;
  font-weight: 700 !important;
  border-radius: 1rem;
  border: none;
  padding: 0 0 0 1rem;
  margin: 0.5rem;
}

.table-container {
  width: 100%;
  overflow: scroll;
}

.table {
  width: 80% !important;
  overflow: scroll;
  border-collapse: collapse;
  margin: auto;
  empty-cells: hide;
  margin-bottom: 5rem !important;
  /* table-layout: auto; */
}

tr {
  border-bottom: 1px solid #E5E5E5 !important;
}

th {
  padding: 1rem 2rem !important;
  font-size: 60%;
  font-weight: 600 !important;
  text-align: right !important;
}

.page-link {
  margin: .5rem;
  border: 1px solid #E5E5E5;
  border-radius: 1rem;
  font-size: 60%;
  font-weight: 600 !important;
  color: #000000 !important;
}

.bookmark {
  color: #ABB4C2;
}

td {
  padding: 2.5rem 2rem !important;
  text-align: right;
  font-size: 60%;
  font-weight: 600 !important;
  /* border : 1px solid red!important; */
}

.table-header {
  border-top: 1px solid #E5E5E5 !important;
}

.tabletop-container {
  /* border: 1px solid red !important; */
  background-color: #F8FAFC !important;
  /* width: 80%; */
}

.tabletop {
  width: 80%;
  margin: auto;
}

.table-heading {
  font-size: 3rem;
  text-align: left;
  font-weight: 800 !important;
  margin: 0 0 3rem;
}

.table-rank {
  color: #808A9D;
}

.table-name {
  text-align: left !important;
  min-width: 150px !important;
  /* border: 1px solid black; */
}

.table-name-text {
  display: inline;
  color: #000000;
  /* border: 1px solid black; */
}

.table-name-text-symbol {
  /* border: 1px solid black; */
  display: inline;
  color: #808A9D;
}

.table-name-image {
  display: inline;
  margin: auto;
  margin-right: 1rem;
  height: 20px;
  width: 20px;
  /* border: 1px solid black; */
  border-radius: 50%;
}

.carousel-outer-container {
  background-color: #F8FAFC !important;
  /* border: 1px solid red; */
  width: 100vw;
}

.carousel-container {
  border: 1px solid #F8FAFC;
  /* border: 1px solid red; */
  height: 30%;
  width: 80%;
  margin: auto;
}

.carousel {
  height: 20%;
  margin: 8rem auto;
  /* border: 1px solid blue !important; */
}

.carouselcard {
  border: 1px solid white !important;
  min-width: 50rem;
  height: 18% !important;
  margin: auto 1rem !important;
  border-radius: 2rem !important;
  box-shadow: 2px 1.17763px 14.1316px 3.53289px rgba(208, 214, 227, 0.3);
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 30px !important;
  line-height: 1 !important;
  color: #A8B0C1 !important;
}

.card {
  display: flex;
  justify-content: center;
  align-items: left;
  /* box-sizing: border-box; */
}

.card-image {
  height: 15vh;
  margin: 1rem;
  margin-left: 1rem;
  /* border: 1px solid black !important; */
}

.card-image-title {
  margin: auto;
  padding: 1rem auto;
  text-align: left;
  color: #808A9D;
  font-weight: 600 !important;
  /* border: 1px solid black !important; */
}


.card-image-desc {
  text-align: left;
  color: black;
  font-weight: 600 !important;
  /* border: 1px solid black !important; */
}

.footer-bg {
  background-color: white;
  width: 80%;
  margin: auto;
}

.bar {
  display: flex;
  width: 0.4rem;
  height: 0.4rem;
  margin: 0.1rem auto;
  background-color: #101010;

}

.mobile-popover {
  box-sizing: border-box;
  width: 358px;
  height: 359px;
  background: #FFFFFF;
  border: 1px solid #DBDCDF;
  border-radius: 8px;
  margin: auto;
  padding: 2rem;
  font-size: 70%;
  font-weight: 600 !important;
}

.popup-name {
  text-align: left !important;
  min-width: 200px !important;
  /* border: 1px solid black; */
}

.popup-name-text {
  display: inline;
  color: #000000;
  /* border: 1px solid black; */
}

.popup-name-image {
  display: inline;
  margin: auto;
  margin-right: 1rem;
  height: 20px;
  width: 20px;
  /* border: 1px solid black; */
  border-radius: 50%;
}

.mobile-popover tr {
  border-bottom: none !important;
}



@media only screen and (max-width: 430px) {
  .carousel-conatiner {
    width: 100%;
    margin: auto;
  }

  .tabletop {
    width: 90%
  }

  .legends {
    display: none !important;
  }

  .legends-container {
    margin-top: -5rem !important;
  }

  .footer-bg {
    width: 100%;
  }

  .pagination {
    margin: auto;
    display: inline-flex !important;
  }

  .table-name {
    max-width: 100px !important;
  }

  .table-24h {
    min-width: 70px !important;
  }

  .table-rank,
  .table-7d,
  .table-marketcap,
  .table-volume,
  .table-circulatingsupply,
  .table-dots {
    display: none !important;
  }

}